/*corpo da sidebar*/

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #26483c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: 0;
}

li {
  list-style: none;
}

/*parte superior da sidebar*/

.sidebar-header {
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 12px 6px 12px;
}

.sidebar-title {
  padding: 10px;
  font-size: 11px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0px;
}

.sidebar-subtitle {
  margin: 10px;
  font-size: 10px;
  color: rgb(77, 77, 77);
  margin-top: -10px;
  margin-left: -5px;
}
.sidebar-logo {
  width: 50px;
  height: auto;
  align-items: left;
  padding: 3px;
}
.sidebar-main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 0px;
}

/*Conteúdo de botões listados pra páginas*/

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0px;
  align-items: flex-start;
  padding: 0px;
}

.sidebar-content-title {
  font-size: 11px;
  color: white;
  align-self: left;
  margin-left: 50px;
  text-transform: uppercase;
  margin-top: 20px;
}

.sidebar-button {
  background-color: white;
  color: #00523d;
  border: 0.5px solid transparent;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-button:hover {
  background-color: #eef2ff;
  color: #475ccc;
  transition: 0.3s;
  border-color: #475ccc;
  border-width: 0.5px;
  border-style: solid;
}

/*footer da sidebar*/
.sidebar-footer {
  padding: 20px;
  color: white;
  font-size: 0.675em;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.userbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.sidebar-divider {
  width: 200px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 10px;
  align-self: center;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #00523d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 10px;
}
.user-name {
  font-size: 0.9em;
  color: white;
  margin: 0px;
  align-self: center;
}
